# Example: Formatting date with pandas and excel files
More resources: https://xlsxwriter.readthedocs.io/working_with_pandas.html

# This works in creating a 'Date' formatted cell

In [1]:
# import packages
import pandas as pd
import os
from pathlib import PureWindowsPath
import re
from datetime import datetime, timedelta
import glob

In [35]:
from datetime import datetime, date

# Create a Pandas dataframe from some datetime data.
df_test = pd.DataFrame({'Name': ['First', 'Second', 'Third', 'Fourth', 'Fifth'],
                   'Number': [0,1,2,3,4],
                   'Date and time': [datetime(2015, 1, 1, 11, 30, 55),
                                     datetime(2015, 1, 2, 1,  20, 33),
                                     datetime(2015, 1, 3, 11, 10    ),
                                     datetime(2015, 1, 4, 16, 45, 35),
                                     datetime(2015, 1, 5, 12, 10, 15)],
                   'Dates only':    [date(2015, 2, 1),
                                     date(2015, 2, 2),
                                     date(2015, 2, 3),
                                     date(2015, 2, 4),
                                     date(2015, 2, 5)],
                   })

In [36]:
df_test

     Name  Number       Date and time  Dates only
0   First       0 2015-01-01 11:30:55  2015-02-01
1  Second       1 2015-01-02 01:20:33  2015-02-02
2   Third       2 2015-01-03 11:10:00  2015-02-03
3  Fourth       3 2015-01-04 16:45:35  2015-02-04
4   Fifth       4 2015-01-05 12:10:15  2015-02-05

In [37]:
df_test.iloc[0,-1]

datetime.date(2015, 2, 1)

In [38]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
# Also set the default datetime and date formats.
outfile = '//fps04\\RIC\\CDO\\DIAL Drive\\Daily_HAvBed\\test_date.xlsx'
writer = pd.ExcelWriter(outfile,
                        engine='xlsxwriter',
                        datetime_format='mmm d yyyy hh:mm:ss',
                        date_format='m/d/yyyy')

# Convert the dataframe to an XlsxWriter Excel object.
df_test.to_excel(writer, sheet_name='Region 11 - Chicago Hospitals', index=False)

# Get the xlsxwriter workbook and worksheet objects in order to set the column
# widths, to make the dates clearer.
workbook  = writer.book
worksheet = writer.sheets['Region 11 - Chicago Hospitals']

worksheet.set_column('C:D', 20)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

# Test on excel file

In [14]:
path = r'//fps04\RIC\CDO\DIAL Drive\Daily_HAvBed'
matching_files = glob.glob(os.path.join(path,"*Update 1_ Daily HAvBED Query Event Snapshot*"))

In [16]:
matching_files[0]

'//fps04\\RIC\\CDO\\DIAL Drive\\Daily_HAvBed\\2019-01-07 2359 Update 1_ Daily HAvBED Query Event Snapshot.xlsx'

In [62]:
# for i,j in enumerate(matching_files):
# input_file = j
input_file = matching_files[0]
# Load excel file and skip header row
df = pd.read_excel(input_file, skiprows=[0])
# delete Comment field
del df['Comment']

# add column with date from filename
j = matching_files[0] ###
j = j.strip('//fps04\\RIC\\CDO\\DIAL Drive\\Daily_HAvBed\\')
j = j[:10]
j = datetime.strptime(j, '%Y-%m-%d').date()
# convert to string and remove leading zeros in date
# j = str(j.strftime('%#m/%#d/%Y'))[:10]
df['Date'] = j

# drop last row that has the summary
df.drop(df.loc[df['Region 11 - Chicago Hospitals']=='Summary'].index, inplace=True)

# Print how many rows are being added
print('Number of rows added: ',len(df))

# Option 2: Save to cleaned_file.xlsx
#       #  Remove spaces from names
#         df = df.replace({' ': '', '--': ''}, regex=True)
        # Keep spaces
df.iloc[:,1:] = df.iloc[:,1:].replace({' ': '', '--': ''}, regex=True)

output_file = '//fps04\\RIC\\CDO\\DIAL Drive\\Daily_HAvBed\\test_date_dailyHavbed.xlsx'
# output_file = input_file

# Create a Pandas Excel writer using XlsxWriter as the engine.
# Also set the default datetime and date formats.
writer = pd.ExcelWriter(output_file,
                        engine='xlsxwriter',
#                         datetime_format='mmm d yyyy hh:mm:ss',
                        date_format='m/d/yyyy')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Region 11 - Chicago Hospitals', index=False)

# Get the xlsxwriter workbook and worksheet objects in order to set the column
# widths, to make the dates clearer.
workbook  = writer.book
worksheet = writer.sheets['Region 11 - Chicago Hospitals']

# set column width for hospital names and date
worksheet.set_column('A:A', 40)
worksheet.set_column('AE:AE', 10)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

# Print confirmation
print('File saved to: ', output_file)

Number of rows added:  27
File saved to:  //fps04\RIC\CDO\DIAL Drive\Daily_HAvBed\test_date_dailyHavbed.xlsx